<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>It is a layout.</h1>
    <!-- react의 SPA처럼 url 변경시 고정된 layout을 두고 body 부분만 바뀌도록 -->
    {{{body}}}
  </body>
</html>